{
	email {$LETSENCRYPT_EMAIL}
}

{$PUBLIC_DOMAIN} {
	encode zstd gzip

	@wstunnel path /{$SSH_TUNNEL_PATH_PREFIX}*
	reverse_proxy @wstunnel wstunnel:8081

	@backend path /api/* /auth/* /health /ws /uploads/*
	reverse_proxy @backend backend:8080

	reverse_proxy frontend:3000
}
